ModusToolbox/tools_3.1/qspi-configurator/share/qspi-configurator/data/templates/xsd_app_configs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CyAppConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CysmifFile"/>
        <xs:element type="xs:string" name="OutputFolder"/>
        <xs:element type="xs:string" name="MemoryFolder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>