ModusToolbox/tools_3.1/qspi-configurator/share/qspi-configurator/data/templates/xsdConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CySMIFConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="DevicePath"/>
        <xs:element name="SlotConfigs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SlotConfig" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="SlaveSlot"/>
                    <xs:element type="xs:string" name="PartNumber"/>
                    <xs:element type="xs:string" name="MemoryMapped"/>
                    <xs:element type="xs:string" name="DualQuad"/>
                    <xs:element type="xs:string" name="StartAddress"/>
                    <xs:element type="xs:string" name="Size"/>
                    <xs:element type="xs:string" name="EndAddress"/>
                    <xs:element type="xs:string" name="WriteEnable"/>
                    <xs:element type="xs:string" name="Encrypt"/>
                    <xs:element type="xs:string" name="DataSelect"/>
                    <xs:element type="xs:string" name="Description"/>
                    <xs:element type="xs:string" name="MemoryConfigsPath"/>
                    <xs:element type="xs:string" name="ConfigDataInFlash"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>