ModusToolbox/tools_3.1/qspi-configurator/share/qspi-configurator/data/templates/xsdDevice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CyDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="PartNumber"/>
        <xs:element type="xs:string" name="StartAddress"/>
        <xs:element type="xs:string" name="EndAddress"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>